In [48]:
import numpy as np
import pandas as pd

In [49]:
frame = pd.read_csv("preprocessed/finalDfv2.csv",
           index_col=0)

In [50]:
frame

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
222,23APF1674647943113045,U2789/769,MAFABI EDGAR,M,2022.0,52.0,SIRONKO,ADM,Bachelor of Business Administration,42.7
223,23APF1553004744147784,U0009/541,KEMIGISHA SHANITAH,F,2022.0,6.0,BUSHENYI,ADM,Bachelor of Business Administration,42.6
224,23APF1425422752115622,U4144/507,NAKITANDWE SHARON,F,2022.0,71.0,KALIRO,ADM,Bachelor of Business Administration,42.6
225,23APF1269085013144231,U0060/511,BAGAYA SHELDYNE WINYI,F,2022.0,9.0,HOIMA,ADM,Bachelor of Business Administration,42.6
226,23APF192601537128082,U0083/547,CYNTHIA PRAISE,F,2022.0,21.0,KASESE,ADM,Bachelor of Business Administration,42.6

In [51]:
frame.dropna(how="any")

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
222,23APF1674647943113045,U2789/769,MAFABI EDGAR,M,2022.0,52.0,SIRONKO,ADM,Bachelor of Business Administration,42.7
223,23APF1553004744147784,U0009/541,KEMIGISHA SHANITAH,F,2022.0,6.0,BUSHENYI,ADM,Bachelor of Business Administration,42.6
224,23APF1425422752115622,U4144/507,NAKITANDWE SHARON,F,2022.0,71.0,KALIRO,ADM,Bachelor of Business Administration,42.6
225,23APF1269085013144231,U0060/511,BAGAYA SHELDYNE WINYI,F,2022.0,9.0,HOIMA,ADM,Bachelor of Business Administration,42.6
226,23APF192601537128082,U0083/547,CYNTHIA PRAISE,F,2022.0,21.0,KASESE,ADM,Bachelor of Business Administration,42.6

In [52]:
frame

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
222,23APF1674647943113045,U2789/769,MAFABI EDGAR,M,2022.0,52.0,SIRONKO,ADM,Bachelor of Business Administration,42.7
223,23APF1553004744147784,U0009/541,KEMIGISHA SHANITAH,F,2022.0,6.0,BUSHENYI,ADM,Bachelor of Business Administration,42.6
224,23APF1425422752115622,U4144/507,NAKITANDWE SHARON,F,2022.0,71.0,KALIRO,ADM,Bachelor of Business Administration,42.6
225,23APF1269085013144231,U0060/511,BAGAYA SHELDYNE WINYI,F,2022.0,9.0,HOIMA,ADM,Bachelor of Business Administration,42.6
226,23APF192601537128082,U0083/547,CYNTHIA PRAISE,F,2022.0,21.0,KASESE,ADM,Bachelor of Business Administration,42.6

In [70]:
frame = frame.astype({"UACE YEAR": "int64",
             "CODE": "int64",
             })

In [71]:
frame

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022,42,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022,40,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022,21,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022,33,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022,65,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
222,23APF1674647943113045,U2789/769,MAFABI EDGAR,M,2022,52,SIRONKO,ADM,Bachelor of Business Administration,42.7
223,23APF1553004744147784,U0009/541,KEMIGISHA SHANITAH,F,2022,6,BUSHENYI,ADM,Bachelor of Business Administration,42.6
224,23APF1425422752115622,U4144/507,NAKITANDWE SHARON,F,2022,71,KALIRO,ADM,Bachelor of Business Administration,42.6
225,23APF1269085013144231,U0060/511,BAGAYA SHELDYNE WINYI,F,2022,9,HOIMA,ADM,Bachelor of Business Administration,42.6
226,23APF192601537128082,U0083/547,CYNTHIA PRAISE,F,2022,21,KASESE,ADM,Bachelor of Business Administration,42.6

In [55]:
frame.dtypes

Form ID          object
Index No         object
NAME             object
GENDER           object
UACE YEAR       float64
CODE            float64
DISTRICT         object
COURSE CODE      object
COURSE NAME      object
Total Weight    float64
dtype: object

In [75]:
frame.groupby(["UACE YEAR", "DISTRICT"])["NAME"].count()

UACE YEAR  DISTRICT
2007       IGANGA       1
2008       LIRA         1
2009       HOIMA        1
           KAMULI       1
2011       BUKEDEA      1
                       ..
2022       SHEEMA       4
           SIRONKO      2
           SOROTI       4
           TORORO       7
           WAKISO      31
Name: NAME, Length: 94, dtype: int64