In [1]:
import numpy as np
import pandas as pd

In [2]:
frame = pd.read_csv("../Data/Private.csv",
           # index_col=0,
                   )

In [3]:
frame

,APPLICATION NO,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
14910,23APF727648568141557,U0017/548,KIZZA VANESSA ITRONCE,F,2022.0,17.0,KAMULI,VET,B. Veterinary Medicine,41.8
14911,23APF963075058135059,U0033/581,OTIM DANIEL,M,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,41.7
14912,23APF1618205309130850,U0077/736,MUKETI JOVIA,F,2022.0,74.0,MARACHA,VET,B. Veterinary Medicine,41.6
14913,23APF575513287117711,U0077/564,AWOR REBECCA,F,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,40.4
14914,23APF1477867021106233,U0017/606,SAGATI LETICIA OKURUT,F,2022.0,48.0,PALLISA,VET,B. Veterinary Medicine,40.1

In [4]:
frame.dropna(how="any")

,APPLICATION NO,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
14910,23APF727648568141557,U0017/548,KIZZA VANESSA ITRONCE,F,2022.0,17.0,KAMULI,VET,B. Veterinary Medicine,41.8
14911,23APF963075058135059,U0033/581,OTIM DANIEL,M,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,41.7
14912,23APF1618205309130850,U0077/736,MUKETI JOVIA,F,2022.0,74.0,MARACHA,VET,B. Veterinary Medicine,41.6
14913,23APF575513287117711,U0077/564,AWOR REBECCA,F,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,40.4
14914,23APF1477867021106233,U0017/606,SAGATI LETICIA OKURUT,F,2022.0,48.0,PALLISA,VET,B. Veterinary Medicine,40.1

In [5]:
frame

,APPLICATION NO,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
14910,23APF727648568141557,U0017/548,KIZZA VANESSA ITRONCE,F,2022.0,17.0,KAMULI,VET,B. Veterinary Medicine,41.8
14911,23APF963075058135059,U0033/581,OTIM DANIEL,M,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,41.7
14912,23APF1618205309130850,U0077/736,MUKETI JOVIA,F,2022.0,74.0,MARACHA,VET,B. Veterinary Medicine,41.6
14913,23APF575513287117711,U0077/564,AWOR REBECCA,F,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,40.4
14914,23APF1477867021106233,U0017/606,SAGATI LETICIA OKURUT,F,2022.0,48.0,PALLISA,VET,B. Veterinary Medicine,40.1

In [6]:
frame = frame.astype({"UACE YEAR": "int64",
             "CODE": "int64",
             })

In [7]:
frame

,APPLICATION NO,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022,42,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022,40,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022,21,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022,33,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022,65,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
14910,23APF727648568141557,U0017/548,KIZZA VANESSA ITRONCE,F,2022,17,KAMULI,VET,B. Veterinary Medicine,41.8
14911,23APF963075058135059,U0033/581,OTIM DANIEL,M,2022,31,LIRA,VET,B. Veterinary Medicine,41.7
14912,23APF1618205309130850,U0077/736,MUKETI JOVIA,F,2022,74,MARACHA,VET,B. Veterinary Medicine,41.6
14913,23APF575513287117711,U0077/564,AWOR REBECCA,F,2022,31,LIRA,VET,B. Veterinary Medicine,40.4
14914,23APF1477867021106233,U0017/606,SAGATI LETICIA OKURUT,F,2022,48,PALLISA,VET,B. Veterinary Medicine,40.1

In [8]:
frame.dtypes

APPLICATION NO     object
INDEX NO           object
NAME               object
GENDER             object
UACE YEAR           int64
CODE                int64
DISTRICT           object
COURSE CODE        object
COURSE NAME        object
TOTAL WEIGHT      float64
dtype: object

In [9]:
frame.groupby(["UACE YEAR", "DISTRICT"])["NAME"].count()

UACE YEAR  DISTRICT
1995       BUSIA          1
           MUKONO         1
1996       LUUKA          1
           MPIGI          1
           SHEEMA         1
                       ...
2022       SOROTI       116
           TORORO       232
           WAKISO      1460
           YUMBE         18
           ZOMBO         25
Name: NAME, Length: 651, dtype: int64