In [1]:
import numpy as np
import pandas as pd

In [3]:
frame = pd.read_csv("../Data/Private.csv",
           index_col=0)

In [4]:
frame

,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
APPLICATION NO,,,,,,,,,
23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
23APF345674424112360,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...
23APF727648568141557,U0017/548,KIZZA VANESSA ITRONCE,F,2022.0,17.0,KAMULI,VET,B. Veterinary Medicine,41.8
23APF963075058135059,U0033/581,OTIM DANIEL,M,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,41.7
23APF1618205309130850,U0077/736,MUKETI JOVIA,F,2022.0,74.0,MARACHA,VET,B. Veterinary Medicine,41.6
23APF575513287117711,U0077/564,AWOR REBECCA,F,2022.0,31.0,LIRA,VET,B. Veterinary Medicine,40.4
23APF1477867021106233,U0017/606,SAGATI LETICIA OKURUT,F,2022.0,48.0,PALLISA,VET,B. Veterinary Medicine,40.1

In [51]:
frame.dropna(how="any")

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
222,23APF1674647943113045,U2789/769,MAFABI EDGAR,M,2022.0,52.0,SIRONKO,ADM,Bachelor of Business Administration,42.7
223,23APF1553004744147784,U0009/541,KEMIGISHA SHANITAH,F,2022.0,6.0,BUSHENYI,ADM,Bachelor of Business Administration,42.6
224,23APF1425422752115622,U4144/507,NAKITANDWE SHARON,F,2022.0,71.0,KALIRO,ADM,Bachelor of Business Administration,42.6
225,23APF1269085013144231,U0060/511,BAGAYA SHELDYNE WINYI,F,2022.0,9.0,HOIMA,ADM,Bachelor of Business Administration,42.6
226,23APF192601537128082,U0083/547,CYNTHIA PRAISE,F,2022.0,21.0,KASESE,ADM,Bachelor of Business Administration,42.6

In [52]:
frame

,Form ID,Index No,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,Total Weight
0,23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022.0,42.0,MUKONO,ACC,BSC. Accounting (EVE),42.2
1,23APF345674424112360,U1249/532,LULE ISAAC,M,2022.0,40.0,MPIGI,ACC,BSC. Accounting (EVE),41.1
2,23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022.0,21.0,KASESE,ACC,BSC. Accounting (EVE),40.6
3,23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022.0,33.0,MASAKA,ACC,BSC. Accounting (EVE),38.8
4,23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022.0,65.0,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...,...
222,23APF1674647943113045,U2789/769,MAFABI EDGAR,M,2022.0,52.0,SIRONKO,ADM,Bachelor of Business Administration,42.7
223,23APF1553004744147784,U0009/541,KEMIGISHA SHANITAH,F,2022.0,6.0,BUSHENYI,ADM,Bachelor of Business Administration,42.6
224,23APF1425422752115622,U4144/507,NAKITANDWE SHARON,F,2022.0,71.0,KALIRO,ADM,Bachelor of Business Administration,42.6
225,23APF1269085013144231,U0060/511,BAGAYA SHELDYNE WINYI,F,2022.0,9.0,HOIMA,ADM,Bachelor of Business Administration,42.6
226,23APF192601537128082,U0083/547,CYNTHIA PRAISE,F,2022.0,21.0,KASESE,ADM,Bachelor of Business Administration,42.6

In [5]:
frame = frame.astype({"UACE YEAR": "int64",
             "CODE": "int64",
             })

In [6]:
frame

,INDEX NO,NAME,GENDER,UACE YEAR,CODE,DISTRICT,COURSE CODE,COURSE NAME,TOTAL WEIGHT
APPLICATION NO,,,,,,,,,
23APF412304454141015,U0391/673,LUKABWE DOUGLAS MARK,M,2022,42,MUKONO,ACC,BSC. Accounting (EVE),42.2
23APF345674424112360,U1249/532,LULE ISAAC,M,2022,40,MPIGI,ACC,BSC. Accounting (EVE),41.1
23APF1361730063122187,U0459/676,HAULAH SULAIT BIIRA,F,2022,21,KASESE,ACC,BSC. Accounting (EVE),40.6
23APF519647933132646,U1611/887,NAMBALYE EVELYNE,F,2022,33,MASAKA,ACC,BSC. Accounting (EVE),38.8
23APF1481620160129238,U0083/555,KEMIGISHA RUSIA,F,2022,65,IBANDA,ACC,BSC. Accounting (EVE),38.4
...,...,...,...,...,...,...,...,...,...
23APF727648568141557,U0017/548,KIZZA VANESSA ITRONCE,F,2022,17,KAMULI,VET,B. Veterinary Medicine,41.8
23APF963075058135059,U0033/581,OTIM DANIEL,M,2022,31,LIRA,VET,B. Veterinary Medicine,41.7
23APF1618205309130850,U0077/736,MUKETI JOVIA,F,2022,74,MARACHA,VET,B. Veterinary Medicine,41.6
23APF575513287117711,U0077/564,AWOR REBECCA,F,2022,31,LIRA,VET,B. Veterinary Medicine,40.4
23APF1477867021106233,U0017/606,SAGATI LETICIA OKURUT,F,2022,48,PALLISA,VET,B. Veterinary Medicine,40.1

In [7]:
frame.dtypes

INDEX NO         object
NAME             object
GENDER           object
UACE YEAR         int64
CODE              int64
DISTRICT         object
COURSE CODE      object
COURSE NAME      object
TOTAL WEIGHT    float64
dtype: object

In [8]:
frame.groupby(["UACE YEAR", "DISTRICT"])["NAME"].count()

UACE YEAR  DISTRICT
1995       BUSIA          1
           MUKONO         1
1996       LUUKA          1
           MPIGI          1
           SHEEMA         1
                       ...
2022       SOROTI       116
           TORORO       232
           WAKISO      1460
           YUMBE         18
           ZOMBO         25
Name: NAME, Length: 651, dtype: int64